# testing
pytest

# dev tooling
pynvim
black
bump2version
# https://github.com/c4urself/bump2version
# https://williamhayes.medium.com/versioning-using-bumpversion-4d13c914e9b8

# pip install current project
--editable .

# publishing packages
twine
